on:
  push:
    # Pattern matched against refs/tags
    tags:
    - '*'             # Push events to every tag not containing /
  workflow_dispatch:
    inputs:
      version:
        description: Setup RELEASE_VERSION
        required: true
        type: string

name: Publish

jobs:
  check-versions:
    name: Check all versions match
    runs-on: ubuntu-latest
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2
    - name: Set env
      if: github.event_name != 'workflow_dispatch'
      run: echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
    - name: Manually set env
      if: ${{ inputs.version }}
      run: echo "RELEASE_VERSION=${{ inputs.version }}" >> $GITHUB_ENV
    - name: Compare versions
      run: python list_versions.py | xargs -I {} bash -c 'if [ "{}" == "${{ env.RELEASE_VERSION }}" ]; then echo "versions match"; else echo "version mismatch" && exit 1; fi'
  publish-crate:
    name: Publish binaries on crate.io
    runs-on: ubuntu-latest
    needs: check-versions
    steps:
    - name: Checkout sources
      uses: actions/checkout@v2

    - name: Install stable toolchain
      uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        override: true

    - run: cargo publish --token ${CRATES_TOKEN} || echo "This never fails"
      env:
        CRATES_TOKEN: ${{ secrets.CRATES_TOKEN }}
  publish-docker:
    name: Publish Docker image
    runs-on: ubuntu-latest
    needs: publish-crate
    defaults:
      run:
        working-directory: ./docker-image
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_ACCESSTOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: jeertmans/filesfinder:latest
